
h1  {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #1a936f;
    text-shadow: 2px 2px black;
}

h3  {
    text-align: center;
}

section {
   font-family: 'PT Sans', sans-serif;
   margin: 15px;
   text-align: center;
   padding-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 45px/15px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#name   {
    color:#1a936f;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

.card-header{
    color: #1a936f;;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

.nav-item   {
    font-weight: bold;
    text-shadow: 1px 1px #1a936f;
}

.card{
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.container  {
    margin-top: 20px;
    padding: 30px;
    justify-content: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #c6dabf;
    border-radius:30px;
   
}
.job-text{
    text-decoration-line:overline;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}
  .fa{
      color:black;
  }

  #phoneNumber{
      font-weight: bold;
      font-size: larger;
  }
 p {
     font-size: small;
 }

.develop{
    padding: 30px;
    margin-right: 100px;
    display: flex;
 }

.langauage {
        display: flex;
    margin-right: 100px;
    text-align: center;
}
